<div class="layout-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <app-side-bar></app-side-bar>
  </aside>

  <!-- Main content -->
  <div class="main-content">

    <!-- Navbar -->
    <header class="toolbar">
      <div class="toolbar-left">
        <h1 class="navbar-title">Products Managment System</h1>
      </div>

      <div class="toolbar-right">
        <div class="search-container">
          <input type="text" placeholder="Search..." class="search-input" />
          <span class="search-icon">🔍</span>
        </div>

        <button class="notification-btn">🔔</button>
      </div>
    </header>

    <!-- Page Content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
